h1 {
    color: bisque;
    background-color: brown;
}

.heading {
    color: brown;
    background-color: bisque;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.nav {
    background-color: black;
    padding: 15px;
    text-align: center;
}

.nav-item {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    font-weight: bold;
}